.instructionsWrapper h2 {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "YoungSerif-Regular", sans-serif;
  color: hsl(14, 45%, 36%);
}

.instructionsWrapper ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 1.6rem;
  padding-inline-start: 1.5rem;
}

.instructionsWrapper ol > li {
  padding-inline-start: 1.1rem;
  padding-inline-end: 0.6rem;
}

.instructionsWrapper ol > li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}

.instructionsWrapper span {
  font-weight: 600;
}
