.ingredientsWrapper h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "YoungSerif-Regular", sans-serif;
  color: hsl(14, 45%, 36%);
}

.ingredientsWrapper ol {
  display: flex;
  flex-direction: column;
  color: hsl(30, 10%, 34%);
  padding: 0;
  padding-block-start: 1.6rem;
  list-style: none;
  gap: 10px;
}

.ingredientsWrapper ol > li {
  position: relative;
  padding-inline-start: 2rem;
}

.ingredientsWrapper ol > li::before {
  position: absolute;
  content: " ";
  display: inline-block;
  inset: 0;
  left: 8px;
  align-self: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: hsl(14, 45%, 36%);
}
